<!doctype html>
<html lang='en'>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.2.0/dist/css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="https://unpkg.com/jquery@3.6.1/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>

    {% block head_content %} {% endblock %}

    <title>VMChecker Next</title>
</head>

<body>
    <div class="container">
        {% include "ui/generics/navbar.html" %}
    </div>
    {% block body_content %} {% endblock %}
    {% block javascript %} {% endblock %}
</body>

</html>
