[scripts]
docker-compose = "docker compose -f etc/compose.yml -p ui"
docker-compose-fill-data = "pipenv run docker-compose exec ui ./manage.py populate_db"
docker-compose-dev = "pipenv run docker-compose --env-file ./etc/.env.development"
docker-compose-prod = "pipenv run docker-compose --env-file ./etc/.env.production"
dev = "./manage.py runserver 0.0.0.0:7000"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
uwsgi = "*"
psycopg2-binary = "*"
django-prometheus = "*"
requests = "*"
django-auth-ldap = "*"

[dev-packages]
pylint = "*"
mypy = "*"
locust = "*"
black = "*"
pytest-django = "*"
isort = "*"
django-stubs = "*"
pylint-django = "*"
types-requests = "*"

[requires]
python_version = "3.8"
