{% extends "ui/generics/base.html" %}

{% block body_content %}
<div class="container">
    <h1>{{ assignment.long_name }}</h1>
    <div class="row">
        <span>Description:</span>
        <p>{{ assignment.description }}</p>
    </div>

    <form method="post">
        <div class="form-group">
            {% csrf_token %}
            {{ retrieve_form.as_p }}
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

    <div class="row">
        <table class="table table-striped table-bordered table-sm mt-2">
            <thead>
                <tr>
                    <th scope="col">Submission ID</th>
                    <th scope="col">Score</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for sub in submissions %}
                <tr>
                    <td>{{ sub.pk }}</td>
                    <td>{% if sub.score is None %}0{% else %}{{ sub.score }}{% endif %}/{{ sub.assignment.max_score }}
                    </td>
                    <td>{{ sub.get_state_display }}</td>
                    <td><a class="btn btn-primary btn-sm" href="{% url 'submission_result' sub.pk %}">Results</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="rowf text-center">
            {% if submissions.has_previous %}
            <a class="btn btn-primary" href="?page={{ submissions.previous_page_number }}">Prev</a>
            {% endif %}

            <span class="current">
                Page {{ submissions.number }} of {{ submissions.paginator.num_pages }}.
            </span>

            {% if submissions.has_next %}
            <a class="btn btn-primary" href="?page={{ submissions.next_page_number }}">Next</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
