{% extends "ui/generics/base.html" %}

{% block body_content %}
<div class="container text-center">
    <div class="row min-vh-20"></div>
    <div class="row">
        <div class="col">
            <h1>VMChecker Next</h1>

            <main class="w-100 m-auto" style="max-width: 330px;">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="w-100 btn btn-lg btn-primary" type="submit" value="Login">
                </form>
            </main>

        </div>
    </div>
</div>
{% endblock %}
